*{
  outline: 0;
  margin:0;
  padding:0;
}

.container {
  margin-top: 50vh;
  text-align: center;

}

h1 {
  text-align: center;
  font-family: inherit;
  line-height: 1.2;
  margin:10px;
}

button {
  border: 2px solid grey;
  font-family: Montserrat;
  background: none;
  font-size: 20px;
  padding: 5px 10px;
}